<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Naturá</title>
    <link rel="stylesheet" href="/style.css">
</head>
<body>
    <section class="hero">
        <nav>
            <h1>Naturá</h1>
            <div>
                <p><a href="/">Home</a></p>
                <p><a href="/blog">Blog</a></p>
                <p><a href="/newBlog">Create Blog</a></p>
                <p><a href="/contact">Contact Us</a></p>
            </div>
        </nav>
        <div class="heroText">
            <h1>Naturá</h1>
            <h3>Live. Laugh. Explore.</h3>
            <p>World's <span id="one">#1</span> nature-themed blog</p>
        </div>
        
    </section>

    <section class="blog">
       <div>
            <h1>Blog</h1>
        </div>
        <div class="blog-items">    
            <% if (!article || article.length === 0) { %>
                <h1>No articles to display</h1>
            <% } else { %>
                <% for (let index = 0; index < Math.min(article.length, 3); index++) { %>
                    <% if (article[index]) { %>
                        <div class="blogpost-section">
                            <div>
                                <img src="/<%= article[index].image %>" alt="Blog Image" height="500" width="500">
                            </div>
                            <div>
                                <p><i><%= new Date(article[index].date).toLocaleDateString() %></i></p>
                                
                                <h2><%= article[index].title %></h2>
                                <p>Author: <%= article[index].author %></p>
                                <p><%= article[index].content.substring(0, 100) %>...</p>
                                <a href="/blog/<%= article[index].id  %>">Read More</a>
                            </div>
                            
                        </div>
                    <% } %>
                <% } %>
            <% } %>
        </div>
    </section>
</body>
</html>